@{
    ViewBag.Title = "Contactos";
}

<h2>About</h2>
<p>
     Para información tecnica, sugerencias o informar de defectos en el sistema, favor enviar mensaje a <a href="mailto:epolanco@economia.gov.do">Edgar Polanco</a>
</p>
