@{
    ViewBag.Title = "Creado";
}

<h2>Creado</h2>
<p>Su solicitud ha sido creada exitosamente. Dentro de poco se le estara asistiendo.</p>
<p>Para su informacion su numero de solicitud es: <b>@ViewBag.SolicitudID</b></p>