@{
    ViewBag.Title = "Validado";
}

<h2>Validado</h2>
<p>Gracias por calificar su nivel de satisfacción. El ciclo de vida de su solicitud se ha completado exitosamente. Cuando necesite una nueva asistencia no dude en solicitar nuestros servicios.</p>
<p>Pase buenas</p>
